{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2022",
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    },
    "keepClassNames": true,
    "baseUrl": ".",
    "paths": {
      "@voiceforge/shared": ["../../packages/shared/src/index.ts"],
      "@voiceforge/shared/*": ["../../packages/shared/src/*"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": "inline"
}
